$secondary-color:#F075DA;
$primary-color:#9B53DD;
$tertiary-color:#99E2D0;

$degradeViolet:linear-gradient(170deg,$secondary-color,$primary-color);
$nouveau-back:#99E2D0;
$nouveau-color:darken($nouveau-back,40%);


@mixin flexCenter{
    display:flex;
    justify-content:center;
    align-items:center;
}

@mixin box-shadow{
    box-shadow:6px 6px 10px #EAEAEA;
}



@mixin buttonV{
    height:50px;
    background:$degradeViolet;
    border-radius:2em;
    color:white;
    box-shadow:6px 6px 10px #CFCFCF;
    @include flexCenter;
}

@mixin buttonG{

}

@mixin circle($len){
    width:$len;
    height:$len;
    border-radius:100%;
}

@mixin pseudo-opa{
            content:"";
            position:absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            opacity:0;
            z-index:-1;
}

@function degradeViolet(){
    @return linear-gradient(170deg,$secondary-color,$primary-color);
}


@keyframes fadein{
    0%{
        opacity:0;
        transform:translateY(20px) scale(1.1);;
        background:rgb(198, 198, 198);
    }
    70%{
        background:white;
    }
    100%{
        opacity:1;
        transform:translateY(0);
        
        color:black;
    }
}


@keyframes opaAndRotation{
    0%{
        opacity:0;
        transform:rotate(0deg);
    }
    10%{
        opacity:0;
    }

    100%{
        transform:rotate(360deg);
        opacity:1;
    }
}

/*-------- loading Spinner ------*/

@keyframes fadeout{
    0%{
        opacity:0.8;
    }
    100%{
        opacity:0;
    }
}
  
  @keyframes cadre{
    0%{
      
    }
    25%{
      background:#333239;
    }
    50%{
      background:#A2A0B3;
      //transform:scale(1.05);
    }
    75%{
      background:#333239;
    }
    100%{
      transform:scale(0);
        
    }
  }

  
  
  .loading{
    /*filter:blur(4px);
    -o-filter:blur(4px);
    -ms-filter:blur(4px);
    -moz-filter:blur(4px);
    -webkit-filter:blur(4px);*/
    backdrop-filter: blur(6px);
    animation:fadeout 4s;
    animation-fill-mode:both;
    position:absolute;
    z-index:40;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    background:grey;
    display:flex;
    justify-content:center;
    align-items:center;
    &__container{
      width:10px;
      height:90px;
      
      position:relative;
      &__barre{
        width:10px;
        height:30px;
        background:#333239;
        position:absolute;
        transform-origin:50% 150%;
        border-radius:2em;
        &.b1{
            transform:rotate(0deg);
            animation:cadre 1s infinite;
        }
        &.b2{
          transform:rotate(30deg);
          animation:cadre 1s 0.083s infinite;
        }
        &.b3{
          transform:rotate(60deg);
          animation:cadre 1s 0.166s infinite;
        }
        &.b4{
          transform:rotate(90deg);
          animation:cadre 1s 0.249s infinite;
        }
        &.b5{
          transform:rotate(120deg);
          animation:cadre 1s 0.332s infinite;
        }
        &.b5{
          transform:rotate(120deg);
          animation:cadre 1s 0.415s infinite;
        }
        &.b6{
          transform:rotate(150deg);
          animation:cadre 1s 0.498s infinite;
        }
        &.b7{
          transform:rotate(180deg);
          animation:cadre 1s 0.581s infinite;
        }
        &.b8{
          transform:rotate(210deg);
          animation:cadre 1s 0.664s infinite;
        }
        &.b9{
          transform:rotate(240deg);
          animation:cadre 1s 0.747s infinite;
        }
        &.b10{
          transform:rotate(270deg);
          animation:cadre 1s 0.83s infinite;
        }
        &.b11{
          transform:rotate(300deg);
          animation:cadre 1s 0.913s infinite;
        }
        &.b12{
          transform:rotate(330deg);
          animation:cadre 1s 1s infinite;
        }
      }
    }
  }
  
/*----------*/

*{
    font-family: 'Roboto', sans-serif;
}

body{
    margin:0px;
    min-width:375px;
    background:#F6F6F6;
}

a, a:link , a:visited, a:hover , a:active {
    text-decoration:none;
    text-decoration-color:black;
}

.header{
    &__logo{
        @include flexCenter;
        height:60px;
        
        & img{
            display:block;
            width:165px;
        }
    }
    &__location{
        @include flexCenter;
        height:50px;
        background:#EAEAEA;
        box-shadow:inset 0px 3px 2px #CFCFCF;
        & p{
            margin-left:14px;
        }
    }
    &__reservez{
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        align-items:center;
        background:#F6F6F6;
        padding:40px;
        text-align:center;
        & h2{
            font-size:25px;
            margin-top:0px;
            margin-bottom:20px;
        }
        & h3{
            font-weight:300;
            color:#868686;
            font-size:17px;
            margin-top:0px;
            margin-bottom:30px;
        }
        &__violetButton{
            @include buttonV;
            margin-bottom:20px;
            width:220px;
        }
    }
}

.fonctionnement{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:50px 20px;
    height:320px;
    & h2{
        margin-top:0px;
        margin-bottom:30px;
        width:auto;
        @media (max-width:375px){
            width:335px;
        }
    }
    &__button{
        width:320px;
        height:70px;
        border-radius:1.5em;
        background:#F6F6F6;
        @include box-shadow;
        position:relative;
        margin-bottom:20px;
        @include flexCenter;
        cursor:pointer;
        position:relative;
        z-index:1;
        &__number{
            position:absolute;
            z-index:3;
            background:$primary-color;
            @include circle(23px);
            @include flexCenter;
            font-size:14px;
            left:-10px;
            color:white;
            & p{
                color:white;
            }
        }
        & i{
            position:absolute;
            z-index:3;
            left:30px;
            color:grey;
            transform:scale(1.2);
        }
        &:hover{
            //background:#F5EDFF;
            z-index:1;
            &::after{
                opacity:1;
                //z-index:1;
            }
        }
        &:hover i{
            color:$primary-color;
        }
        &::after{
            @include pseudo-opa;
            background:#F5EDFF;
            transition:opacity 250ms;
            border-radius:1.5em;
        }

    }
}

.restaurants{
    background:#F6F6F6;
    padding:60px 20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    & h1{
        width:auto;
        @media (max-width:375px){
            width:335px;
        }
    }
    &__square{
        width:335px;
        height:250px;
        border-radius:1em;
        position:relative;
        background:white;
        @include box-shadow;
        margin-bottom:18px;
        &__nouveau{
            position:absolute;
            width:80px;
            height:30px;
            @include flexCenter();
            background:$nouveau-back;
            color:$nouveau-color;
            font-size:15px;
            left:243px;
            top:10px;
            border-radius:5%;
        }
        &__img{
            height:70%;
            width:100%;
            border-top-left-radius:1em;
            border-top-right-radius:1em;
            object-fit:cover;
        }
        &__bottom{
            position:relative;
            bottom:4px;
            padding-left:10px;
            padding-right:20px;
            //padding-top:20px;
            display:flex;
            justify-content:space-between;
            align-items:center;
            &__title{
                height:75px;
                & h5{
                    margin-top:20px;
                    margin-bottom:8px;
                    font-size:15px;
                }
                & p{
                    margin:0px;
                    font-size:14px;
                    font-weight:300;

                }
            }
            &__heart{
                &__Heart{
                    width:20px;
                    position:relative;
                }
                
                &__Heart--full{
                    width:20px;
                    display:none;
                    background:linear-gradient(170deg,$secondary-color,$primary-color);
                    background: -webkit-linear-gradient(170deg,$secondary-color,$primary-color);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    /*&::before{
                        //display:none;
                    }*/
                }
                &:hover {
                    & > .restaurants__square__bottom__heart__Heart{
                        display:none;
                    }
                    & > .restaurants__square__bottom__heart__Heart--full{
                        display:inline;
                        
                    }
                }
                

            }
        }
    }
}


footer{
    background:#363636;
    color:white;
    padding:25px;
    font-weight:300;
    display:flex;
    flex-direction:column;
    align-items:center;
    /*& div{
        width:335px;
    }*/
    a{
        color:white;
    }
}

.footer{
    &__title, &__links{
        @media (max-width:440px){
            width:325px;
        }
    }
    &__title{
        & img{
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg) brightness(103%) contrast(103%);
            width:100px;
            margin-bottom:20px;
        }
    }
    &__links{
        & p{
            font-size:14px;
            margin-top:0px;
            margin-bottom:10px;
        }
        &__restaurant{
            & i{
                display:inline-block;
                &::before{
                    display:block;
                }
            }
            & p{
                display:inline-block;
                
            }
            &__p{
                margin-left:5px;     
            }
        }
        &__partenaire{
            & i{
                display:inline-block;
            }
            & p{
                display:inline-block;
            }
        }
        &__p{
                margin-left:0px;
        }
    }
    
}

/* ------- MENU PAGES --------*/
/*---------------------------*/
.menuHeader{
    &__top{
        height:65px;
        position:relative;
        @include flexCenter;
        background:white;
        & .fas{
            position:absolute;
            left:20px;
            transform:scale(1.2);
        }
        &__img{
            width:165px;
        }
    }
    &__mainPhoto {
        width:375px;
        margin:0 auto;
        display:block;
    }    
}

.menu{
    position:relative;
    top:-30px;
    border-top-left-radius:2em;
    border-top-right-radius:2em;
    background:#F6F6F6;
    padding:0 15px 20px 15px;
    
    &__title{
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding:40px 0 0 0;
        width:335px;
        margin:0 auto;
        & h2{
            font-family: 'Shrikhand', cursive;
            font-size:27px;
            margin:0px;
            font-weight:300;
        }
        &__heart{
            width:20px;
            height:20px;
        }
    }
    &__section{
        margin:0 auto;
        width:350px;
        & h3{
            font-weight:300;
            font-size:15px;
            margin-top:40px;
            position:relative;
            &::after{
                content:"";
                position:absolute;
                width:40px;
                height:3px;
                background:$tertiary-color;
                left:0;
                bottom:-5px;
            }
        }
        &__platContainer{
            display:flex;
            justify-content:space-between;
            width:350px;
            height:70px;
            margin-bottom:15px;
            background:white;
            border-radius:1em;
            box-shadow:6px 6px 10px #E9E9E9;
            overflow:hidden;
            cursor:pointer;
            &__main{
                display:inline-block;
                flex-grow:2;
                
                margin:15px 15px 15px 10px;
                &__name{
                    margin:0;
                    
                    & h4{
                        font-size:17px;
                        margin:0px;
                        font-weight:500;
                    }
                }
                &__data{
                    display:flex;
                    justify-content:space-between;
                    align-items:center;
                    width:100%;
                    font-size:15px;
                    height:33px;
                    & p{
                        
                        margin:0px;
                        //margin:10px 0 0 0 ;
                        
                    }

                    &__ingredient{
                        font-weight:200;
                        text-overflow:ellipsis;
                        overflow:hidden;
                        white-space:nowrap;
                    }
                    &__prix{
                        font-weight:500;
                        
                    }
                }
            }
            &__greenCheck{
                display:flex;
                justify-content:center;
                align-items:center;
                flex-basis:0px;
                background:$tertiary-color;
                border-top-right-radius:1em;
                border-bottom-right-radius:1em;
                overflow:hidden;
                transition: flex-basis 0.5s ease-in-out;

                &__icon{
                    color:white;
                }
            }
            &:hover &__greenCheck{
                flex-basis:60px;
                background:$tertiary-color;
                
            }

            &:hover &__greenCheck__icon{
                animation:opaAndRotation 0.6s;
                animation-fill-mode:both;
            }

            &:hover .threeDots{
                width:200px;
            }
        }
    }
    &__button{
        margin:50px auto;
        @include buttonV;
        width:190px;
    }
}
//animation ...
.threeDots{
    width:295px;
    transition:width 0.5s ease-in-out;
}


.opa-one{
    animation: fadein 1s;
}

.opa-two{
    animation: fadein 2s;
}

.opa-three{
    animation: fadein 3s;
}