@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px) scale(1.1);
            transform: translateY(20px) scale(1.1);
    background: #c6c6c6;
  }
  70% {
    background: white;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    color: black;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px) scale(1.1);
            transform: translateY(20px) scale(1.1);
    background: #c6c6c6;
  }
  70% {
    background: white;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    color: black;
  }
}

@-webkit-keyframes opaAndRotation {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes opaAndRotation {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}

/*-------- loading Spinner ------*/
@-webkit-keyframes fadeout {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeout {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes cadre {
  0% {
  }
  25% {
    background: #333239;
  }
  50% {
    background: #A2A0B3;
  }
  75% {
    background: #333239;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@keyframes cadre {
  0% {
  }
  25% {
    background: #333239;
  }
  50% {
    background: #A2A0B3;
  }
  75% {
    background: #333239;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.loading {
  /*filter:blur(4px);
    -o-filter:blur(4px);
    -ms-filter:blur(4px);
    -moz-filter:blur(4px);
    -webkit-filter:blur(4px);*/
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  -webkit-animation: fadeout 4s;
          animation: fadeout 4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  position: absolute;
  z-index: 40;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading__container {
  width: 10px;
  height: 90px;
  position: relative;
}

.loading__container__barre {
  width: 10px;
  height: 30px;
  background: #333239;
  position: absolute;
  -webkit-transform-origin: 50% 150%;
          transform-origin: 50% 150%;
  border-radius: 2em;
}

.loading__container__barre.b1 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation: cadre 1s infinite;
          animation: cadre 1s infinite;
}

.loading__container__barre.b2 {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-animation: cadre 1s 0.083s infinite;
          animation: cadre 1s 0.083s infinite;
}

.loading__container__barre.b3 {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
  -webkit-animation: cadre 1s 0.166s infinite;
          animation: cadre 1s 0.166s infinite;
}

.loading__container__barre.b4 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation: cadre 1s 0.249s infinite;
          animation: cadre 1s 0.249s infinite;
}

.loading__container__barre.b5 {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
  -webkit-animation: cadre 1s 0.332s infinite;
          animation: cadre 1s 0.332s infinite;
}

.loading__container__barre.b5 {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
  -webkit-animation: cadre 1s 0.415s infinite;
          animation: cadre 1s 0.415s infinite;
}

.loading__container__barre.b6 {
  -webkit-transform: rotate(150deg);
          transform: rotate(150deg);
  -webkit-animation: cadre 1s 0.498s infinite;
          animation: cadre 1s 0.498s infinite;
}

.loading__container__barre.b7 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation: cadre 1s 0.581s infinite;
          animation: cadre 1s 0.581s infinite;
}

.loading__container__barre.b8 {
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
  -webkit-animation: cadre 1s 0.664s infinite;
          animation: cadre 1s 0.664s infinite;
}

.loading__container__barre.b9 {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
  -webkit-animation: cadre 1s 0.747s infinite;
          animation: cadre 1s 0.747s infinite;
}

.loading__container__barre.b10 {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-animation: cadre 1s 0.83s infinite;
          animation: cadre 1s 0.83s infinite;
}

.loading__container__barre.b11 {
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
  -webkit-animation: cadre 1s 0.913s infinite;
          animation: cadre 1s 0.913s infinite;
}

.loading__container__barre.b12 {
  -webkit-transform: rotate(330deg);
          transform: rotate(330deg);
  -webkit-animation: cadre 1s 1s infinite;
          animation: cadre 1s 1s infinite;
}

/*----------*/
* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0px;
  min-width: 375px;
  background: #F6F6F6;
}

a {
  text-decoration: none;
  -webkit-text-decoration-color: black;
          text-decoration-color: black;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.header__logo img {
  display: block;
  width: 165px;
}

.header__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background: #EAEAEA;
  -webkit-box-shadow: inset 0px 3px 2px #CFCFCF;
          box-shadow: inset 0px 3px 2px #CFCFCF;
}

.header__location p {
  margin-left: 14px;
}

.header__reservez {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F6F6F6;
  padding: 40px;
  text-align: center;
}

.header__reservez h2 {
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.header__reservez h3 {
  font-weight: 300;
  color: #868686;
  font-size: 17px;
  margin-top: 0px;
  margin-bottom: 30px;
}

.header__reservez__violetButton {
  height: 50px;
  background: linear-gradient(170deg, #F075DA, #9B53DD);
  border-radius: 2em;
  color: white;
  -webkit-box-shadow: 6px 6px 10px #CFCFCF;
          box-shadow: 6px 6px 10px #CFCFCF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  width: 220px;
}

.fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 20px;
  height: 320px;
}

.fonctionnement h2 {
  margin-top: 0px;
  margin-bottom: 30px;
  width: auto;
}

@media (max-width: 375px) {
  .fonctionnement h2 {
    width: 335px;
  }
}

.fonctionnement__button {
  width: 320px;
  height: 70px;
  border-radius: 1.5em;
  background: #F6F6F6;
  -webkit-box-shadow: 6px 6px 10px #EAEAEA;
          box-shadow: 6px 6px 10px #EAEAEA;
  position: relative;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.fonctionnement__button__number {
  position: absolute;
  z-index: 3;
  background: #9B53DD;
  width: 23px;
  height: 23px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  left: -10px;
  color: white;
}

.fonctionnement__button__number p {
  color: white;
}

.fonctionnement__button i {
  position: absolute;
  z-index: 3;
  left: 30px;
  color: grey;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.fonctionnement__button:hover {
  z-index: 1;
}

.fonctionnement__button:hover::after {
  opacity: 1;
}

.fonctionnement__button:hover i {
  color: #9B53DD;
}

.fonctionnement__button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  background: #F5EDFF;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  border-radius: 1.5em;
}

.restaurants {
  background: #F6F6F6;
  padding: 60px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants h1 {
  width: auto;
}

@media (max-width: 375px) {
  .restaurants h1 {
    width: 335px;
  }
}

.restaurants__square {
  width: 335px;
  height: 250px;
  border-radius: 1em;
  position: relative;
  background: white;
  -webkit-box-shadow: 6px 6px 10px #EAEAEA;
          box-shadow: 6px 6px 10px #EAEAEA;
  margin-bottom: 18px;
}

.restaurants__square__nouveau {
  position: absolute;
  width: 80px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #99E2D0;
  color: #278870;
  font-size: 15px;
  left: 243px;
  top: 10px;
  border-radius: 5%;
}

.restaurants__square__img {
  height: 70%;
  width: 100%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants__square__bottom {
  position: relative;
  bottom: 4px;
  padding-left: 10px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants__square__bottom__title {
  height: 75px;
}

.restaurants__square__bottom__title h5 {
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 15px;
}

.restaurants__square__bottom__title p {
  margin: 0px;
  font-size: 14px;
  font-weight: 300;
}

.restaurants__square__bottom__heart__Heart {
  width: 20px;
  position: relative;
}

.restaurants__square__bottom__heart__Heart--full {
  width: 20px;
  display: none;
  background: linear-gradient(170deg, #F075DA, #9B53DD);
  background: -webkit-linear-gradient(170deg, #F075DA, #9B53DD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.restaurants__square__bottom__heart:hover > .restaurants__square__bottom__heart__Heart {
  display: none;
}

.restaurants__square__bottom__heart:hover > .restaurants__square__bottom__heart__Heart--full {
  display: inline;
}

footer {
  background: #363636;
  color: white;
  padding: 25px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*& div{
        width:335px;
    }*/
}

footer a {
  color: white;
}

@media (max-width: 440px) {
  .footer__title, .footer__links {
    width: 325px;
  }
}

.footer__title img {
  -webkit-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg) brightness(103%) contrast(103%);
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg) brightness(103%) contrast(103%);
  width: 100px;
  margin-bottom: 20px;
}

.footer__links p {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.footer__links__restaurant i {
  display: inline-block;
}

.footer__links__restaurant i::before {
  display: block;
}

.footer__links__restaurant p {
  display: inline-block;
}

.footer__links__restaurant__p {
  margin-left: 5px;
}

.footer__links__partenaire i {
  display: inline-block;
}

.footer__links__partenaire p {
  display: inline-block;
}

.footer__links__p {
  margin-left: 0px;
}

/* ------- MENU PAGES --------*/
/*---------------------------*/
.menuHeader__top {
  height: 65px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
}

.menuHeader__top .fas {
  position: absolute;
  left: 20px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.menuHeader__top__img {
  width: 165px;
}

.menuHeader__mainPhoto {
  width: 375px;
  margin: 0 auto;
  display: block;
}

.menu {
  position: relative;
  top: -30px;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  background: #F6F6F6;
  padding: 0 15px 20px 15px;
}

.menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0 0 0;
  width: 335px;
  margin: 0 auto;
}

.menu__title h2 {
  font-family: 'Shrikhand', cursive;
  font-size: 27px;
  margin: 0px;
  font-weight: 300;
}

.menu__title__heart {
  width: 20px;
  height: 20px;
}

.menu__section {
  margin: 0 auto;
  width: 350px;
}

.menu__section h3 {
  font-weight: 300;
  font-size: 15px;
  margin-top: 40px;
  position: relative;
}

.menu__section h3::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background: #99E2D0;
  left: 0;
  bottom: -5px;
}

.menu__section__platContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 350px;
  height: 70px;
  margin-bottom: 15px;
  background: white;
  border-radius: 1em;
  -webkit-box-shadow: 6px 6px 10px #E9E9E9;
          box-shadow: 6px 6px 10px #E9E9E9;
  overflow: hidden;
  cursor: pointer;
}

.menu__section__platContainer__main {
  display: inline-block;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  margin: 15px 15px 15px 10px;
}

.menu__section__platContainer__main__name {
  margin: 0;
}

.menu__section__platContainer__main__name h4 {
  font-size: 17px;
  margin: 0px;
  font-weight: 500;
}

.menu__section__platContainer__main__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 15px;
  height: 33px;
}

.menu__section__platContainer__main__data p {
  margin: 0px;
}

.menu__section__platContainer__main__data__ingredient {
  font-weight: 200;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.menu__section__platContainer__main__data__prix {
  font-weight: 500;
}

.menu__section__platContainer__greenCheck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 0px;
      flex-basis: 0px;
  background: #99E2D0;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  overflow: hidden;
  -webkit-transition: -webkit-flex-basis 0.5s ease-in-out;
  transition: -webkit-flex-basis 0.5s ease-in-out;
  transition: flex-basis 0.5s ease-in-out;
  transition: flex-basis 0.5s ease-in-out, -webkit-flex-basis 0.5s ease-in-out, -ms-flex-preferred-size 0.5s ease-in-out;
}

.menu__section__platContainer__greenCheck__icon {
  color: white;
}

.menu__section__platContainer:hover .menu__section__platContainer__greenCheck {
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
  background: #99E2D0;
}

.menu__section__platContainer:hover .menu__section__platContainer__greenCheck__icon {
  -webkit-animation: opaAndRotation 0.6s;
          animation: opaAndRotation 0.6s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu__section__platContainer:hover .threeDots {
  width: 200px;
}

.menu__button {
  margin: 50px auto;
  height: 50px;
  background: linear-gradient(170deg, #F075DA, #9B53DD);
  border-radius: 2em;
  color: white;
  -webkit-box-shadow: 6px 6px 10px #CFCFCF;
          box-shadow: 6px 6px 10px #CFCFCF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 190px;
}

.threeDots {
  width: 295px;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.opa-one {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

.opa-two {
  -webkit-animation: fadein 2s;
          animation: fadein 2s;
}

.opa-three {
  -webkit-animation: fadein 3s;
          animation: fadein 3s;
}
/*# sourceMappingURL=style.css.map */